<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @piece.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @piece.description %>
</p>

<p>
  <strong>Song:</strong>
  <%= @piece.song %>
</p>

<p>
  <strong>User:</strong>
  <%= @piece.user %>
</p>

<p>
  <strong>File name:</strong>
  <%= @piece.file_name %>
</p>

<p>
  <strong>Bucket:</strong>
  <%= @piece.bucket %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
